.App {
  display: grid;
  @media (max-aspect-ratio: ~'3/4') {
    width: 100vw;
    height: 130vw;
    grid-template-columns: 1fr 98fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 98fr 1fr 22fr 1fr;
    grid-template-areas:
      '. . .'
      '. title .'
      '. . .'
      '. board .'
      '. . .'
      '. controls .'
      '. . .';
  }
  @media (min-aspect-ratio: ~'3/4') and (max-aspect-ratio: ~'4/3') {
    width: 75vh;
    height: 97.5vh;
    grid-template-columns: 1fr 98fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 98fr 1fr 22fr 1fr;
    grid-template-areas:
      '. . .'
      '. title .'
      '. . .'
      '. board .'
      '. . .'
      '. controls .'
      '. . .';
  }
  @media (min-aspect-ratio: ~'4/3') {
    width: 130vh;
    height: 100vh;
    grid-template-columns: 1fr 91fr 1fr 36fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 91fr 1fr;
    grid-template-areas:
      '. . . . .'
      '. title title title .'
      '. . . . .'
      '. board . controls .'
      '. . . . .';
  }
}

.title {
  grid-area: title;
}
.board {
  grid-area: board;
}
.controls {
  grid-area: controls;
}
