.controls {
  margin: 1vmin 0;
  width: 20vmin;
  height: 70vmin;
  display: grid;
  background: chartreuse;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  // Note the escaped ratio ~'1/1'. less compiles this to 1, which doesn't work.
  @media (max-aspect-ratio: ~'1/1') {
    background: coral;
    width: 70vmin;
    height: 20vmin;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1vmin;
    grid-row-gap: 1vmin;
  }
}

.button {
  background: teal;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
