.controls {
  margin: 10px auto;
  width: 90vmin;
  height: 30vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.button {
  background: teal;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
