/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}
.small-text {
  font-size: 0.75em;
  color: white;
}
.medium-text {
  font-size: 1.25em;
  color: white;
}
.large-text {
  font-size: 3em;
  padding: 0.25em 0 1em 0;
  color: white;
}
.App {
  display: grid;
}
@media (max-aspect-ratio: 3/4) {
  .App {
    width: 100vw;
    height: 130vw;
    grid-template-columns: 1fr 98fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 98fr 1fr 22fr 1fr;
    grid-template-areas: '. . .' '. title .' '. . .' '. board .' '. . .' '. controls .' '. . .';
  }
}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
  .App {
    width: 75vh;
    height: 97.5vh;
    grid-template-columns: 1fr 98fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 98fr 1fr 22fr 1fr;
    grid-template-areas: '. . .' '. title .' '. . .' '. board .' '. . .' '. controls .' '. . .';
  }
}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3) {
  .App {
    width: 97.5vw;
    height: 75vw;
    grid-template-columns: 1fr 91fr 1fr 36fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 91fr 1fr;
    grid-template-areas: '. . . . .' '. title title title .' '. . . . .' '. board . controls .' '. . . . .';
  }
}
@media (min-aspect-ratio: 4/3) {
  .App {
    width: 130vh;
    height: 100vh;
    grid-template-columns: 1fr 91fr 1fr 36fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 91fr 1fr;
    grid-template-areas: '. . . . .' '. title title title .' '. . . . .' '. board . controls .' '. . . . .';
  }
}
.title {
  grid-area: title;
}
.board {
  grid-area: board;
}
.controls {
  grid-area: controls;
}
.title {
  background: deeppink;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  background: deeppink;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.controls {
  display: grid;
}
@media (max-aspect-ratio: 1/1) {
  .controls {
    grid-template-columns: 32fr 1fr 32fr 1fr 32fr;
    grid-template-rows: 10.5fr 1fr 10.5fr;
    grid-template-areas: 'button1 . button2 . button3' '. . . . .' 'button4 . button5 . button6';
  }
}
@media (min-aspect-ratio: 1/1) {
  .controls {
    grid-template-columns: 1fr;
    grid-template-rows: 14.334fr 1fr 14.334fr 1fr 14.334fr 1fr 14.334fr 1fr 14.334fr 1fr 14.334fr;
    grid-template-areas: 'button1' '.' 'button2' '.' 'button3' '.' 'button4' '.' 'button5' '.' 'button6';
  }
}
.button1 {
  grid-area: button1;
}
.button2 {
  grid-area: button2;
}
.button3 {
  grid-area: button3;
}
.button4 {
  grid-area: button4;
}
.button5 {
  grid-area: button5;
}
.button6 {
  grid-area: button6;
}
.button {
  background: teal;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
